* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 2em;
    font-size: 1.2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}